
.row {
  margin-right: 0;
  margin-left: 0;
}
/*** inizio header ***/
.navbar {
  background-color: #2C3E50;
  color: white;
}

h2:hover {
  cursor: pointer;
}
.list-inline {
  padding-top: 20px;
  padding-bottom: 20px;
}

.link {
  color: white;
  margin-left: 15px;
  font-size: 15px;
}

.white {
  color: white;
}

.white:hover {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #1ABC9C;
}
/*** fine header **/
/*** inizio primo contenitore verde ***/
.container-green {
  background-color: #1ABC9C;
  color: white;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 200px;
}

.star {
  font-size: 50px;
}

h1 {
  font-size: 60px;
}

/*** fine primo contenitore verde ***/
/*** inizio portfolio contenitore ***/
.container-portfolio {
  text-align: center;
  color: #2C3E50;
  padding-bottom: 100px;
  padding-top: 100px;
}

.portfolio-text {
  font-size: 40px;
}

.margine {
  padding: 10px;

}

.margine img {
  width: 100%;
}
/*** fine portfolio contenitore ***/
/*** inizio about secondo contenitore verde ***/
.container-about {
  background-color: #1ABC9C;
  color: white;
  padding-bottom: 100px;
  padding-top: 100px;
}

.textLeft {
  text-align: left;
  line-height: 1.6;
  font-size: 20px;
}
button {
  margin-top: 50px;
  background-color: transparent;
  padding: 20px 40px;
  border-radius: 5px;
  border-color: white;
}

button:hover {
  background-color: white;
  color: #2C3E50;
}
/*** fine about secondo contenitore verde ***/
/*** inizio sezione contact me ***/
input {
  width: 100%;
  border: none;
  font-size: 20px;
}

.send {
  background-color: #1ABC9C;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.send:hover {
  color: white;
  text-decoration: none;
  background-color: #159A80;
}

/*** fine sezione contact me ***/
/*** inizio footer ***/
.footer {
  background-color: #2C3E50;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.start {
  color: #1ABC9C;
}

.icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  color: white;
}
