
.row {
  margin-right: 0;
  margin-left: 0;
}
/*** inizio header ***/
.blue {
  background-color: #2C3E50;
  color: white;
}

.list-inline {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
}

.link {
  color: white;
  margin-left: 15px;
  font-size: 15px;
}

.white {
  color: white;
}

.white:hover {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #1ABC9C;
}
/*** fine header **/
/*** inizio primo contenitore verde ***/
.green {
  background-color: #1ABC9C;
  color: white;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 200px;
  text-align: center;
}

.star {
  font-size: 50px;
}

h1 {
  font-size: 60px;
}

.col-lg-8 {
  text-align: center;
}
/*** fine primo contenitore verde ***/
/*** inizio portfolio contenitore ***/
.portfolio {
  text-align: center;
  color: #2C3E50;
  padding-bottom: 100px;
  padding-top: 100px;
}

.portfolio-text {
  font-size: 40px;
}

.margine {
  padding: 10px;

}

.margine img {
  width: 100%;
}
/*** fine portfolio contenitore ***/
/*** inizio about secondo contenitore verde ***/
.about {
  background-color: #1ABC9C;
  color: white;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

button {
  margin-top: 100px;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 5px;
  border-color: white;
}

button:hover {
  background-color: white;
  color: #2C3E50;
}
/*** fine about secondo contenitore verde ***/
/*** inizio sezione contact me ***/
input {
  width: 100%;
  border: none;
  font-size: 20px;
}

.send {
  background-color: #1ABC9C;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.send:hover {
  color: white;
  text-decoration: none;
  background-color: #159A80;
}

.input:last-child {
  padding-bottom: 50px;
}
/*** fine sezione contact me ***/
/*** inizio footer ***/
.footer {
  background-color: #2C3E50;
}
